*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #212123;

}
.page{
  text-align:center;
  width:100%
}
header {
  background-color: black;
  align-items: center;
  justify-content: space-between;
    display: flex;
    height: 52px;
}

.nav-contener {
  align-items: center;
  justify-content: space-around;
  height: 100%;
  display: flex;

}

.logo{
  color: white;
  display: inline-block;
}

.header-right{
  display: inline-block;
  right: 5px;

}
.header-right > img{
  height: 60px;
    margin-right: 11px;

}

.main-Section{
  background-color: inherit;

    border: solid 1px #282829;
}
.player{
  color:white; /*for test*/
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.player-containt {
  display: inline-block;
  width: 38.33333%;
  overflow: hidden;
  padding-bottom: 10px;
}
.container{
  align-items: center;

}



wave::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;;
	border-radius: 10px;
}

wave::-webkit-scrollbar
{
	width: 5px;

}

#waveform > wave::-webkit-scrollbar-thumb
{
	background-color: #3366FF;

  background:url('img/orange-arrow.png') no-repeat;
  background-size: 40px 13px;
    background-position: ;
    display: block;
    width: 41px;
    padding-top: 5px
}

#waveform2 > wave::-webkit-scrollbar-thumb
{
	background-color: #3366FF;

  background:url('img/red-arrow.png') no-repeat;
  background-size: 40px 13px;
    background-position: ;
    display: block;
    width: 41px;
}
.play-pause-icon{
  display: inline-block;;
  padding-left: 62px;
  padding-top: 55px;
}
.play-pause-icon2{
  display: inline-block;;
  padding-right: 62px;
  padding-top: 55px;
}
#mute > img {
  height: 55px;


}
#mute2 > img {
  height: 55px;


}
#mute #pause {
    display: none;
    margin: 0;
    padding: 0;
}
#mute.playing #pause {
    display: block;
    height: 52px;
    margin-top: 3.5px;
}
#mute.playing #play {
    display: none;
}
#mute,#pause:hover{
  cursor:pointer;
  height: 52px;
  margin-top: 3.5px;
}

/*right*/
#mute2 #pause {
    display: none;
    margin: 0;
    padding: 0;
}
#mute2.playing #pause {
    display: block;
    height: 52px;
    margin-top: 3.5px;
}
#mute2.playing #play {
    display: none;
}
#mute2,#pause:hover{
  cursor:pointer;
  height: 52px;
  margin-top: 3.5px;
}
/*#pause{
    height: 52px;
    margin-top: 3.5px;
  }*/

#play {
  padding-top: 4px;
  display: inline-block;
}
#equalizer{
  transform: rotate(90deg);
  transform-origin: 389% 67%;
     width: 42px;
     position: absolute;
}
#equalizer2{
  transform: rotate(90deg);
  transform-origin: 389% 67%;
     width: 42px;
     position: absolute;
}
input[type="range"] {


  background: url('img/player4.png') no-repeat;
    background-position: -187px -197px;
    width: 195px;
    height: 17px;

}
 #equalizer > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;

    border-radius: 0%;
    background-image:  url('img/left-eq-thumb.png' );
    background-size: cover;
    display: flex;
    margin-top: -4px;

      width: 15px;
      height: 15px;
  }
  #equalizer2 > input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
     border: none;

     border-radius: 0%;
     background-image:  url('img/right-eq-thumb.png' );
     background-size: cover;
     display: flex;
     margin-top: -4px;

       width: 15px;
       height: 15px;
   }
  input[type="range"]:focus {
    outline-width: 0;
}
.vinyl-area{
  padding-top: 7px;
  position: relative;
  display: inline-block;

}
.vinyl-area2{
  padding-top: 7px;
  position: relative;
  display: inline-block;

}


.Vimg {

    top: 0px;
    left: -10px;
    border-radius: 50% 50% 50% 40%;
    width: 160px;
    height: 160px;
    z-index: 11;
    background-image: url("img/player4.png");
    display: inline-block;


}
.Vimg2 {

    top: 0px;
    left: -10px;
    border-radius: 50% 50% 50% 40%;
    width: 160px;
    height: 160px;
    z-index: 11;
    background-image: url("img/player4.png");
    display: inline-block;


}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

 .Vimg > img {
   width: 54px;
   height: 54px;
   border-radius: 50%;
   margin-top: 33%;
   margin-left: 2px;
 }
 .Vimg2 > img {
   width: 54px;
   height: 54px;
   border-radius: 50%;
   margin-top: 33%;
   margin-left: 2px;
 }


.spin {
  -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
  }
  /*left*/
.arm {
  position: absolute;
    top: 23px;
    right: 15%;
}
  .arm-play{
    position: relative;
  }
  .arm_main {
    background: url('img/player4.png') no-repeat;
    background-position: -395px -1px;
    width: 37px;
    height: 132px;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    transform-origin: 27px 28px;
    -webkit-transform-origin: 27px 28px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    position: absolute;
    left: -5px;
    top: -11px;

}
.arm_main:hover{
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.arm_main-playing{
  webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.arm_circle {
    background: url('img/player4.png') no-repeat;
    background-position: -351px -24px;
    width: 43px;
    height: 42px;
    position: absolute;

    z-index: -1
}
.arm_stop {
    background: url('img/player4.png') no-repeat;
    background-position: -350px -1px;
    width: 23px;
    height: 20px;
    position: absolute;
    right: -2%;
    top: 14%;
}
.arm {
  position: absolute;
    top: 23px;
    right: 15%;
}
  .arm-play{
    position: relative;
  }
  .arm_main {
    background: url('img/player4.png') no-repeat;
    background-position: -395px -1px;
    width: 37px;
    height: 132px;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    transform-origin: 27px 28px;
    -webkit-transform-origin: 27px 28px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    position: absolute;
    left: -5px;
    top: -11px;

}
.arm_main:hover{
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.arm_main-playing{
  webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.arm_circle {
    background: url('img/player4.png') no-repeat;
    background-position: -351px -24px;
    width: 43px;
    height: 42px;
    position: absolute;

    z-index: -1
}
.arm_stop {
    background: url('img/player4.png') no-repeat;
    background-position: -350px -1px;
    width: 23px;
    height: 20px;
    position: absolute;
    right: -2%;
    top: 14%;
}

/*right*/
.arm2 {
position: absolute;
  top: 23px;
  right: 15%;
}
.arm-play2{
  position: relative;
}
.arm_main2 {
  background: url('img/player4.png') no-repeat;
  background-position: -395px -1px;
  width: 37px;
  height: 132px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  transform-origin: 27px 28px;
  -webkit-transform-origin: 27px 28px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  position: absolute;
  left: -5px;
  top: -11px;
}

.arm_main2:hover{
-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
-ms-transform: rotate(-30deg);
transform: rotate(-30deg);
}

.arm_main-playing2{
webkit-transform: rotate(20deg);
-moz-transform: rotate(20deg);
-o-transform: rotate(20deg);
-ms-transform: rotate(20deg);
transform: rotate(20deg);
}

.arm_circle2 {
  background: url('img/player4.png') no-repeat;
  background-position: -351px -24px;
  width: 43px;
  height: 42px;
  position: absolute;
  z-index: -1
}

.arm_stop2 {
  background: url('img/player4.png') no-repeat;
  background-position: -350px -1px;
  width: 23px;
  height: 20px;
  position: absolute;
  right: -2%;
  top: 14%;
}
.arm2 {
position: absolute;
  top: 23px;
  right: 15%;
}
.arm-play2{
  position: relative;
}
.arm_main2 {
  background: url('img/player4.png') no-repeat;
  background-position: -395px -1px;
  width: 37px;
  height: 132px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  transform-origin: 27px 28px;
  -webkit-transform-origin: 27px 28px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  position: absolute;
  left: -5px;
  top: -11px;

}
.arm_main2:hover{
-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
-ms-transform: rotate(-30deg);
transform: rotate(-30deg);
}
.arm_main-playing2{
webkit-transform: rotate(20deg);
-moz-transform: rotate(20deg);
-o-transform: rotate(20deg);
-ms-transform: rotate(20deg);
transform: rotate(20deg);
}
.arm_circle2 {
  background: url('img/player4.png') no-repeat;
  background-position: -351px -24px;
  width: 43px;
  height: 42px;
  position: absolute;
  z-index: -1
}
.arm_stop2 {
  background: url('img/player4.png') no-repeat;
  background-position: -350px -1px;
  width: 23px;
  height: 20px;
  position: absolute;
  right: -2%;
  top: 14%;
}
