*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #222224;

}
.page{
  text-align:center;
  width:100%
}
header {
  background-color: black;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 25px 9px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 37px
}

.nav-contener {
  align-items: center;
  justify-content: space-around;
  height: 100%;
  display: flex;

}

.logo{
  color: white;
  display: inline-block;
}

.header-right{
  display: inline-block;
  right: 5px;

}
.header-right > img{
  height: 41px;
    margin-right: 11px;

}
section{

}
.main-Section{
  background-color: inherit;

    border: solid 1px #282829;
}
.player{
  color:white; /*for test*/
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.player-containt {
  display: inline-block;
  width: 38.33333%;
  overflow: hidden;
}
#waveform {

}

wave::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;;
	border-radius: 10px;
}

wave::-webkit-scrollbar
{
	width: 5px;

}

wave::-webkit-scrollbar-thumb
{
	background-color: #3366FF;

  background:url('http://www.freeiconspng.com/uploads/orange-arrow-png-13.png') no-repeat;
  background-size: 40px 13px;
    background-position: ;
    display: block;
    width: 41px;
}
.play-pause-icon{
  display: flex;
  float: right;
}
#mute > img {
  height: 55px;
}
#mute #pause {
    display: none;
    margin: 0;
    padding: 0;
}
#mute.playing #pause {
    display: block;
    height: 52px;
    margin-top: 3.5px;
}
#mute.playing #play {
    display: none;
}
#mute,#pause:hover{
  cursor:pointer;
  height: 52px;
  margin-top: 3.5px;
}
/*#pause{
    height: 52px;
    margin-top: 3.5px;
  }*/

#play {
  padding-top: 4px;
  display: inline-block;
}
#equalizer{
  transform: rotate(90deg);
  transform-origin: 389% 67%;
     width: 42px;
     position: absolute;
}
input[type="range"] {


  background: url('img/player4.png') no-repeat;
    background-position: -187px -196px;
    width: 195px;
    height: 17px;

}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;

    border-radius: 0%;
    background-image:  url('img/left-eq-thumb.png' );
    background-size: cover;
    display: flex;
    margin-top: -4px;

      width: 15px;
      height: 15px;
  }
  input[type="range"]:focus {
    outline-width: 0;
}
.vinyl-area{
  padding-top: 7px;
  position: relative;

}


.Vimg {

    top: 0px;
    left: -10px;
    border-radius: 50% 50% 50% 40%;
    width: 160px;
    height: 160px;
    z-index: 11;
    background-image: url("img/player4.png");
    display: inline-block;


}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

 .Vimg > img {
   width: 54px;
   height: 54px;
   border-radius: 50%;
   margin-top: 33%;
   margin-left: 2px;
 }

.spin {
  -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
  }
.arm {
  position: absolute;
  top: 18px;
right: 38%;
}
  .arm-play{
    position: relative;
  }
  .arm_main {
    background: url('img/player4.png') no-repeat;
    background-position: -395px -1px;
    width: 37px;
    height: 132px;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    transform-origin: 27px 28px;
    -webkit-transform-origin: 27px 28px;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    position: absolute;
    left: -5px;
    top: -11px;

}
.arm_main:hover{
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.arm_main-playing{
  webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.arm_circle {
    background: url('img/player4.png') no-repeat;
    background-position: -351px -24px;
    width: 43px;
    height: 42px;
    position: absolute;

    z-index: -1
}
.arm_stop {
    background: url('img/player4.png') no-repeat;
    background-position: -350px -1px;
    width: 23px;
    height: 20px;
    position: absolute;
    right: -2%;
    top: 14%;
}
