*{
  box-sizing: border-box;
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
body{
  margin: 0;
  padding: 0;

  background-color: #212121;

}
/*#backgound{
  background-image: url('img/background.png');
    opacity: 0.6;
    position: fixed;
    background-repeat: round;
    z-index: -100000000;
    width: 100%;
    height: 94%;

}*/

.page{
  text-align:center;
  width:100%
}
header {
  background-color: #000;
  align-items: center;
  justify-content: space-between;
    display: flex;
    height: 52px;
}

.nav-contener {
  align-items: center;
  justify-content: space-around;
  height: 100%;
  display: flex;

}

.logo{
  color: white;
  display: inline-block;
}

.user-name{
  color: #AAAAAA;
    margin-right: 11%;
    font-size: 16px;
    text-shadow: 2px 2px 1px #2e292a;
}




.header-right{
  display: inline-block;
  right: 5px;

}
.header-right > img{
  height: 60px;
    margin-right: 11px;

}

.main-Section{
  background-color: inherit;

    border: solid 1px #282829;
}
.player{
  color:white; /*for test*/
  text-align: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.player-containt {
  display: inline-block;
  width: 38.33333%;
  overflow: visible;
  padding-bottom: 10px;
}
.container{
  align-items: center;
  position: relative;
}

.muteButton{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
}
.muteButton > p {
  display: inline-block;
    margin: 0;
    position: absolute;
    top: 6px;
    right: -31px;
    color: #2f2f2f;
    text-shadow: 1.5px 0.5px #020202;
    font-size: 13px;
    font-family: monospace;
}
#muteB #mute-pause {
    display: none;

}
#muteB.playing #mute-pause {
  display: inline-block;;


}
#muteB.playing #mute-play {
    display: none;
}




.left-speed-slider-div{
    display: inline-block;
    display: inline-block;
    padding-bottom: 0;
    position: absolute;
    left: 15px;
    top: 14px;
}
#left-speed-slider{


  height: 154px;
    width: 10px;
    background: url('img/speedSlider.png');
    text-align: center;
    background-size: cover;
    border: none;
    margin-left: 3px;
}




#left-speed-slider > span {
  background: url('img/speedSliderThumb.png') no-repeat;
      border: none;
      background-size: 29px;
      height: 44px;
      background-position: -1px 8px;
      width: 28px;
      left: -9px;
      outline: none;
      cursor: row-resize;


}


#left-speed-slider > span:hover{
  opacity: 0.8
}
#left-speed-slider > .ui-slider-range{
  /*background: url('img/player4.png') no-repeat;
  background-position: -456px -28px;
  width: 31px;
  height: 170px;*/
  background-color: transparent;
  border: none;
}

/*right speed slider*/

.right-speed-slider-div{
  display: inline-block;

  padding-bottom: 0;
  position: absolute;
  right: 16px;
  top: 14px;
}


#right-speed-slider{
  height: 154px;
    width: 10px;
    background: url('img/speedSlider.png');
    text-align: center;
    background-size: cover;
    border: none;
    margin-left: 3px;
}







#right-speed-slider > span {
  background: url('img/speedSliderThumb.png') no-repeat;
      border: none;
      background-size: 29px;
      height: 44px;
      background-position: -1px 8px;
      width: 28px;
      left: -9px;
      outline: none;
      cursor: row-resize;


}
#right-speed-slider > span:hover{
  opacity: 0.8
}

#right-speed-slider > .ui-slider-range{
  /*background: url('img/player4.png') no-repeat;
  background-position: -456px -28px;
  width: 31px;
  height: 170px;*/
  background-color: transparent;
  border: none;
}




/*reset button style*/
.reset-button {
	-moz-box-shadow: -8px 11px 14px -7px #121212;
	-webkit-box-shadow: -8px 11px 14px -7px #121212;
	box-shadow: -8px 11px 14px -7px #121212;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FE761B), color-stop(1, #470000));
	background:-moz-linear-gradient(top, #FE761B 5%, #470000 100%);
	background:-webkit-linear-gradient(top, #FE761B 5%, #470000 100%);
	background:-o-linear-gradient(top, #FE761B 5%, #470000 100%);
	background:-ms-linear-gradient(top, #FE761B 5%, #470000 100%);
	background:linear-gradient(to bottom, #FE761B 5%, #470000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d40000', endColorstr='#470000',GradientType=0);
	background-color:#FE761B;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#d1d1d1;
	font-family:Trebuchet MS;
	outline: none;
	padding:2px 4px;
  margin-top: 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
  font-size: 9px;
}
.reset-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #470000), color-stop(1, #FE761B));
	background:-moz-linear-gradient(top, #470000 5%, #FE761B 100%);
	background:-webkit-linear-gradient(top, #470000 5%, #FE761B 100%);
	background:-o-linear-gradient(top, #470000 5%, #FE761B 100%);
	background:-ms-linear-gradient(top, #470000 5%, #FE761B 100%);
	background:linear-gradient(to bottom, #470000 5%, #FE761B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#470000', endColorstr='#d40000',GradientType=0);
	background-color:#470000;
}
.reset-button:active {
	position:relative;
	top:1px;
}



/*volume sliders*/

/*left val slider*/
#left-val{


  height: 154px;
    width: 10px;
    background: url('img/speedSlider.png');
    text-align: center;
    background-size: cover;
    border: none;
    margin-left: 7px
}



#left-val > span {
  background: url('img/valSliderThumb.png') no-repeat;
      border: none;
      background-size: 29px;
      height: 44px;
      background-position: -1px 8px;
      width: 28px;
      left: -9px;
      outline: none;
      cursor: row-resize;


}

.left-mixer {
  display: inline-block;
  margin-right: 51px
}
.right-mixer{
  display: inline-block;
  margin-left: 51px
}



#left-val > span:hover{
  opacity: 0.8
}


#left-val > .ui-slider-range {

  background: url('img/val-range1.png')no-repeat;
      background-position: 1px -13px
}

#val-amount{
  margin-top: 9px;
    color: #424242;
    text-shadow: 1px 2px 2px #000;
    font-weight: bold;
    background: transparent;
    width: 28px;
    border: none;
    text-align: center;
    padding-right: 5px;
}


.gray-line{
  position: absolute;
    left: 49.1%;
    top: 0;
    opacity: 0.6;
    width: 18px;
    z-index: -100;
}



/*right val slider*/
#right-val{


  height: 154px;
    width: 10px;
    background: url('img/speedSlider.png');
    text-align: center;
    background-size: cover;
    border: none;
    margin-left: 7px;
}



#right-val > span {
  background: url('img/valSliderThumb.png') no-repeat;
      border: none;
      background-size: 29px;
      height: 44px;
      background-position: -1px 8px;
      width: 28px;
      left: -9px;
      outline: none;
      cursor: row-resize;


}


#right-val > span:hover{
  opacity: 0.8
}


#right-val > .ui-slider-range {

  background: url('img/val-range1.png')no-repeat;
      background-position: 1px -13px
}

#val-amount2{
  margin-top: 9px;
    color: #424242;
    text-shadow: 1px 2px 2px #000;
    font-weight: bold;
    background: transparent;
    width: 28px;
    border: none;
    text-align: center;
    padding-right: 5px;
}




#loading {
  z-index: 1000;
  position: absolute;
}
#loading > img {
  height: 300px;
    opacity: 0.6;
    border-radius: 5%;

}

#loading2 {
  z-index: 1000;
  position: absolute;
}
#loading2 > img {
  height: 300px;
    opacity: 0.6;
    float: right;
    border-radius: 5%;
}



wave::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;;
	border-radius: 10px;
}

wave::-webkit-scrollbar
{
	width: 5px;

}
#waveform{
  cursor: cell;
  background: url('img/waveformBG.png') no-repeat;
  background-size: cover;
}
#waveform > wave::-webkit-scrollbar-thumb
{
	background-color: #3366FF;

  background:url('img/orange-arrow.png') no-repeat;
  background-size: 40px 13px;
    background-position: ;
    display: block;
    width: 41px;
    padding-top: 5px
}

#waveform2{
  cursor: cell;
  background: url('img/waveformBG.png') no-repeat;
  background-size: cover;

}
#waveform2 > wave::-webkit-scrollbar-thumb
{
	background-color: #3366FF;

  background:url('img/red-arrow.png') no-repeat;
  background-size: 40px 13px;
    background-position: ;
    display: block;
    width: 41px;

}
.play-pause-icon{
  display: inline-block;;
  padding-left: 27px;
  padding-top: 55px;
}
.play-pause-icon2{
  display: inline-block;;
  padding-right: 27px;
  padding-top: 55px;
}
#mute:hover{
  opacity: 0.8;
}
#mute2:hover{
  opacity: 0.8;
}


#mute > img {
  height: 55px;



}
#mute2 > img {
  height: 55px;


}
#mute #pause {
    display: none;
    margin: 0;
    padding: 0;
}
#mute.playing #pause {
  display: inline-block;;
  height: 55px;

}
#mute.playing #play {
    display: none;
}
#mute,#pause:hover{
  cursor:pointer;
  height: 52px;
  margin-top: 3.5px;
}

/*right*/
#mute2 #pause {
    display: none;
    margin: 0;
    padding: 0;
}
#mute2.playing #pause {
    display: inline-block;;
    height: 55px;

}
#mute2.playing #play {
    display: none;
}
#mute2,#pause:hover{
  cursor:pointer;
  height: 52px;
  margin-top: 3.5px;
}
#stop:hover{
  opacity: 0.8;
}

#stop > img{

    height: 48px;
    margin-right: 0px;
    margin-bottom: -1px;
    display: inline-block;
    cursor: pointer;
}

#stop > #img2{
  display: none;
}

#stop2:hover{
  opacity: 0.8;
}

#stop2 > img{

  height: 48px;
    /* border-radius: 21%; */
    margin-right: 0px;
    margin-bottom: -1px;
    display: inline-block;
    cursor: pointer;
}


#stop2 > #img22{
  display: none;
}



}
/*#pause{
    height: 52px;
    margin-top: 3.5px;
  }*/

#play {
  padding-top: 4px;
  display: inline-block;
}
#equalizer{
  transform: rotate(90deg);
  transform-origin: 429% 56%;
     width: 42px;
     position: absolute;
}
#equalizer2{
  transform: rotate(90deg);
  transform-origin: 429% 56%;
     width: 42px;
     position: absolute;
     margin-left: 50px;
}
input[type="range"] {


  background: url('img/EQ.png') no-repeat;
  background-size: 101px;
  /*background-position-y: -10px;*/
    width: 195px;
    height: 17px;

}

 #equalizer > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;

    border-radius: 0%;
    background-image:  url('img/EQthumb1.png' );
    background-size: cover;
    display: flex;
    margin-top: -4px;


      width: 10px;
      height: 15px;
      cursor: row-resize;
  }
  #equalizer > input[type="range"]::-webkit-slider-thumb:hover{
    opacity: 0.7;
  }




  #equalizer2 > input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
     border: none;

     border-radius: 0%;
     background-image:  url('img/EQthumb1.png' );
     background-size: cover;
     display: flex;
     margin-top: -4px;

       width: 10px;
       height: 15px;
         cursor: row-resize;
   }
   #equalizer2 > input[type="range"]::-webkit-slider-thumb:hover{
     opacity: 0.7;
   }

  input[type="range"]:focus {
    outline-width: 0;
}
.vinyl-area{
  padding-top: 7px;
  /*padding-left: 25px;*/
  position: relative;
  display: inline-block;
  cursor: -webkit-grab;
  padding-bottom: 16px;
  margin-bottom: 22px;


}
.vinyl-area2{
  padding-top: 7px;
  margin-right: 67px;
  position: relative;
  display: inline-block;
  cursor: grab;
  cursor: -webkit-grab;
  padding-bottom: 16px;
  margin-bottom: 22px;
}


.Vimg {

    top: 0px;
    left: -10px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: rgba(0,0,0,1.8) 0 0 10px;
    border-collapse: collapse;
    width: 160px;
    height: 160px;
    z-index: 11;
    background-image: url("img/player4.png");
    display: inline-block;



}
.Vimg2 {

    top: 0px;
    left: -10px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: rgba(0,0,0,1.8) 0 0 10px;
    border-collapse: collapse;
    width: 160px;
    height: 160px;
    z-index: 11;
    background-image: url("img/player4.png");
    display: inline-block;



}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

 .Vimg > img {
   width: 54px;
   height: 54px;
   border-radius: 50%;
   margin-top: 33%;
   margin-left: 2px;
 }
 .Vimg:hover{
   opacity: 0.9
 }
 .Vimg2:hover{
   opacity: 0.9
 }
 .Vimg2 > img {
   width: 54px;
   height: 54px;
   border-radius: 50%;
   margin-top: 33%;
   margin-left: 2px;
 }


.spin {
  -webkit-animation:spin 1s linear infinite;
    /*-moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;*/
  }

  .spin2 {
    -webkit-animation:spin 1s linear infinite;
      /*-moz-animation:spin 1s linear infinite;
      animation:spin 1s linear infinite;*/
    }

  /*left*/
.arm {
  position: absolute;
    top: 23px;
    right: 15%;
}

  .arm-play{
    position: relative;
  }

  .arm_main {
    background: url('img/player4.png') no-repeat;
    background-position: -395px -1px;
    width: 37px;
    height: 132px;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    transform-origin: 27px 28px;
    -webkit-transform-origin: 27px 28px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    position: absolute;
    left: -5px;
    top: -11px;

}
.arm_main:hover{
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.arm_main-playing{
  webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.arm_circle {
    background: url('img/player4.png') no-repeat;
    background-position: -351px -24px;
    width: 43px;
    height: 42px;
    position: absolute;

    z-index: -1
}
.arm_stop {
    background: url('img/player4.png') no-repeat;
    background-position: -350px -1px;
    width: 23px;
    height: 20px;
    position: absolute;
    right: -2%;
    top: 14%;
}
.arm {
  position: absolute;
    top: 23px;
    right: 15%;
}
  .arm-play{
    position: relative;
  }
  .arm_main {
    background: url('img/player4.png') no-repeat;
    background-position: -395px -1px;
    width: 37px;
    height: 132px;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    transform-origin: 27px 28px;
    -webkit-transform-origin: 27px 28px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    position: absolute;
    left: -5px;
    top: -11px;

}
.arm_main:hover{
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.arm_main-playing{
  webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.arm_circle {
    background: url('img/player4.png') no-repeat;
    background-position: -351px -24px;
    width: 43px;
    height: 42px;
    position: absolute;

    z-index: -1
}
.arm_stop {
    background: url('img/player4.png') no-repeat;
    background-position: -350px -1px;
    width: 23px;
    height: 20px;
    position: absolute;
    right: -2%;
    top: 14%;
}

/*right*/
.arm2 {
position: absolute;
  top: 23px;
  right: 15%;
}
.arm-play2{
  position: relative;
}
.arm_main2 {
  background: url('img/player4.png') no-repeat;
  background-position: -395px -1px;
  width: 37px;
  height: 132px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  transform-origin: 27px 28px;
  -webkit-transform-origin: 27px 28px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  position: absolute;
  left: -5px;
  top: -11px;
}

.arm_main2:hover{
-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
-ms-transform: rotate(-30deg);
transform: rotate(-30deg);
}

.arm_main-playing2{
webkit-transform: rotate(20deg);
-moz-transform: rotate(20deg);
-o-transform: rotate(20deg);
-ms-transform: rotate(20deg);
transform: rotate(20deg);
}

.arm_circle2 {
  background: url('img/player4.png') no-repeat;
  background-position: -351px -24px;
  width: 43px;
  height: 42px;
  position: absolute;
  z-index: -1
}

.arm_stop2 {
  background: url('img/player4.png') no-repeat;
  background-position: -350px -1px;
  width: 23px;
  height: 20px;
  position: absolute;
  right: -2%;
  top: 14%;
}
.arm2 {
position: absolute;
  top: 23px;
  right: 15%;
}
.arm-play2{
  position: relative;
}
.arm_main2 {
  background: url('img/player4.png') no-repeat;
  background-position: -395px -1px;
  width: 37px;
  height: 132px;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  transform-origin: 27px 28px;
  -webkit-transform-origin: 27px 28px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  position: absolute;
  left: -5px;
  top: -11px;

}
.arm_main2:hover{
-webkit-transform: rotate(-30deg);
-moz-transform: rotate(-30deg);
-o-transform: rotate(-30deg);
-ms-transform: rotate(-30deg);
transform: rotate(-30deg);
}
.arm_main-playing2{
webkit-transform: rotate(20deg);
-moz-transform: rotate(20deg);
-o-transform: rotate(20deg);
-ms-transform: rotate(20deg);
transform: rotate(20deg);
}
.arm_circle2 {
  background: url('img/player4.png') no-repeat;
  background-position: -351px -24px;
  width: 43px;
  height: 42px;
  position: absolute;
  z-index: -1
}
.arm_stop2 {
  background: url('img/player4.png') no-repeat;
  background-position: -350px -1px;
  width: 23px;
  height: 20px;
  position: absolute;
  right: -2%;
  top: 14%;
}

.player-controller{
  width: 23.33333%;
  padding-top: 53px;
  padding-bottom: 5px;
}

#fader-slider-amount{
  margin-top: 9px;
  margin-left: 10px;
    color: #424242;
    text-shadow: 1px 2px 2px #000;
    font-weight: bold;
    background: transparent;
    width: 36px;
    border: none;
    text-align: center;
    padding-right: 5px;

}

#fader-slider{
  margin-top: 12px;
  width: 190px;
    height: 12px;
      background: url('img/fader-slider.png');
    text-align: center;
    background-size: cover;
    border: none;

}
#fader-slider > span {
  background: url('img/valSliderThumb.png') no-repeat;
  border: none;
  background-size: 36px;
  height: 26px;
  background-position: -5px -22px;
  border-radius: 50%;
  width: 29px;
  left: -9px;
  outline: none;
  cursor: col-resize;
}

#fader-slider > span:hover{
  opacity: 0.8;
}


#fader-slider > .ui-slider-range-min {

  background: url('img/val-range.png')no-repeat;
      background-position: 20px 1px ;
}

#fader-slider > .ui-slider-range-max {

    background: url('img/val-range.png')no-repeat;
        background-position: -13px 1px ;
}

.fader-buttons{
  margin-left: 53px;
}


.faderButtons{
  width: 80px;
  height: 49px;
  position: relative;

  background: url('img/faderButtons.png')
}
  .left-button {
  display: inline;

}

  .right-button {
    display: inline;

  }
  #mute3 {
    height: 52px;
    position: absolute;
    margin-top: 3.5px;
    left: 0px;
    top: -3px;
}


  #mute3 #pause {
      display: none;
      margin: 0;
      padding: 0;
  }
  #mute3.playing #pause {
      display: inline-block;;
      height: 55px;

  }
  #mute3.playing #play {
      display: none;
  }
  #mute3,#pause:hover{
    cursor:pointer;
    height: 52px;
    margin-top: 3.5px;
  }


  #mute4 {
    height: 52px;
    position: absolute;
    margin-top: 3.5px;
    right: -7px;
    top: -3px;
}


  #mute4 #pause {
      display: none;
      margin: 0;
      padding: 0;
  }
  #mute4.playing #pause {
      display: inline-block;;
      height: 55px;

  }
  #mute4.playing #play {
      display: none;
  }
  #mute4,#pause:hover{
    cursor:pointer;
    height: 52px;
    margin-top: 3.5px;
  }

  .eqGif {
      width: 42px;
      position: absolute;
      right: 0;
      top: 51%;

}
.eqGif2 {
    width: 42px;
    position: absolute;
    left: 0;
    top: 51%;

}

.userProfile {
  text-align: center;
  margin-top: 13px;
}
.userProfile > button {
  margin-bottom: 8px;

  background: #020202; */

    background-image: -moz-linear-gradient(top, #7a7a7a, #1f1f1f);
    background-image: -ms-linear-gradient(top, #7a7a7a, #1f1f1f);
    background-image: -o-linear-gradient(top, #7a7a7a, #1f1f1f);
    background-image: linear-gradient(to bottom, #2d2d2d, #191818);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: fantasy;
    color: #4b4b4b;
    text-shadow: 1px 1px 1px #000000;
    font-size: 17px;
    /*padding: 9px 22px 9px 20px;*/
    border: none;
    box-shadow: rgb(12, 12, 12) 2px 5px 7px;

}

.Upload{
padding: 9px 22px;
}

.your-songs{
    padding: 9px 48px;
}

.your-favorites{
padding: 9px 36.5px;
}




.userProfile > button:hover {

  color: #fcfbfb;
  text-shadow: 0px 0px 8px #f1f1f1;

}
.userProfile > button:focus {
  outline:0
}
.userProfile > button:active {
  background-image: linear-gradient(to bottom, #0e0e0e, #292828);
}
