<!-- <div class="upload-view">
  <h2 style="display:block; color:whit;" ui-sref='home'>X</h2>
  <form>
    <input type="file" accept=".mp3,.wav" name="avatar"/>
  </form>

  <button type="button" name="button">submit</button>

  <div class="holdingDiv" ng-controller='submitCtrl'>
    <form action="/file-upload" name="upload" class="dropzone dz-clickable" id="dropzoneArea" enctype="multipart/form-data" method = "post">
      <input  type="file" name="theFile" />
      <button id="uploadSubmitter" class="btn btn-primary btn-large" type="submit">Finished</button>
    </form>
  </div>
</div> -->


 <!-- <form ng-controller='submitCtrl' enctype="multipart/form-data">
  <div class="form-group">

    <input type="text" class='form-cotrol' id='name' placeholder='Name the song' ng-model='customer.name'>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Avatar</label>
    <input type="file" accept=".mp3,.wav"  file-model='customer.file' name='file' >
  </div>
  <button type="submit" ng-click='Submit()' >Submit</button>

</form>
markedtext

  {{customer}} -->
<div class="wrapper">


<div ng-controller='songsCtrl' class='uploadView'>
  <form  method="post" class='uploadForm'>

  <input type="file"  fileread  accept=".mp3" class="inputfile" >
  <img src="http://sta.turkcell.com.tr/static_lib/assets/images/my_account/campaign/icon-success.png" alt=""  class="marked"/>
  <label for="file" class="choose">Choose a file</label>

  <img class='uploadpic' src="https://cdn4.iconfinder.com/data/icons/sabre/snow_sabre_black/128/folder_black_web_upload.png" alt="" />
  <button class='uploadSubmit' type="button" name="button" ng-click='Submit()'>Upload</button>
  <a ui-sref="home"><img  class='cancel' src="../img/cancel.png" alt="cancel" /></a>

  </form>
</div>
<img id='loadingTest' class='spin' style='position:absolute' src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Vector_Loading.svg/1024px-Vector_Loading.svg.png" alt="" />
</div>
