<div class="player" >



  <!-- left player -->

  <div class="player-right player-containt">
    <div id ='loading'> <img src="http://snf-661282.vm.okeanos.grnet.gr/web/LDAusers2/images/loading.gif" alt="" /> </div>


    <div class="container" style="text-align: center">
      <div class="left-speed-slider-div">


      <div id="left-speed-slider">

      </div>
      <button class='reset-button' type="button" ng-click='resetSlider()'>R</button>
      </div>

        <div class="vinyl-area">

          <div  class="vinyl" ng-click="DjScratching.play()">
            <div  class="disk">
                <div  class="Vimg">

                  <img   src="img/music-song-cd-disc-sound-note.png" alt="" />

                </div>
            </div>
            <div class="arm">


            <div class="arm-play">
                <div class="arm_circle">
                </div>
                <div class="arm_main">
                  <div class="arm_stop" >
                  </div>
                </div>

            </div>

          </div>
          </div>


      </div>

                <!-- play icon -->
      <div class="play-pause-icon" >
        <a id='stop' ng-click="wavesurfer.stop(); ">
          <img class='play-icon' id='img1' src="img/stopCL.png" alt="stop" />
          <img id='img2' src="img/newStop.png" alt="stop" />
        </a>
        <a onclick="changeImage(this)" ng-click='wavesurfer.playPause()'id="mute">
          <img src="img/newPlay.png" id="play" />
          <img  src="img/newPuase.png" id="pause" />
        </a>
      </div>
      <a ng-click='wavesurfer.toggleMute()' onclick="changeImage(this)" class="muteButton" style="cursor:pointer" id='muteB'>

        <img  src="img/muteButtonA.png" alt=""  id="mute-play"/>
        <img src="img/muteButton.png" alt="" id="mute-pause"/>
        <p>
          mute
        </p>

      </a>
      <img class='eqGif' src="img/eqGif.gif" alt="" />
      <div id="waveform"></div>
    <div id="waveform-timeline"></div>
      <div id="equalizer" style="margin-top: 10px"></div>
    </div>
  </div>

             <!-- player control -->
  <div class="player-controller" style="width:auto;">
    <div class = 'left-mixer'>

      <!-- left volume -->
      <div id='left-val'></div>
    <input type="text" readonly id='val-amount'>
    </div>
      <div class="right-mixer">
        <!-- gray line -->


        <!-- right volume -->
        <div id='right-val'></div>
        <input type="text" readonly id='val-amount2'>
      </div>
      <img class='gray-line' src="img/grayLine.png" alt="grayLine" />
      <div class="fader">

        <div class="fader-buttons">
            <div class="faderButtons">
              <div class="left-button">
                <a onclick="changeImageByTime(this)"  ng-click='fadeToLeft()' id="mute3">
                  <img src="img/faderLeftButton.png" id="play" />
                  <img  src="img/faderLeftButtonA.png" id="pause" />
                </a>

              </div>

              <div class="right-button">
                <a onclick="changeImageByTime(this)" ng-click='fadeToRight()' id="mute4">
                  <img src="img/faderRightButton.png" id="play" />
                  <img  src="img/faderRightButtonA.png" id="pause" />
                </a>
              </div>



            </div>

        </div>

        <div id='fader-slider'></div>
        <input type="text" readonly id='fader-slider-amount'>


      </div>

  </div>

              <!-- right player  -->



    <div class="player-right player-containt">

        <div id ='loading2'> <img src="http://snf-661282.vm.okeanos.grnet.gr/web/LDAusers2/images/loading.gif" alt="" /> </div>


      <div class="container" style="text-align: center">

        <a ng-click='wavesurfer2.toggleMute()' onclick="changeImage(this)" class="muteButton2" style="cursor:pointer" id='muteB'>

          <img  src="img/muteButtonA.png" alt=""  id="mute-play"/>
          <img src="img/muteButton.png" alt="" id="mute-pause"/>
          <p>
            mute
          </p>

        </a>

        <!-- play icon -->
        <img class='eqGif2' src="img/eqGif.gif" alt="" />
      <div class="play-pause-icon2">
          <a onclick="changeImage(this)" ng-click='wavesurfer2.playPause()' id="mute2">
            <img class='foreq-play' src="img/newPlay.png" id="play" />
            <img class='foreq-pause'  src="img/newPuase.png" id="pause" />
          </a>
            <a id='stop2' ng-click="wavesurfer2.stop(); ">
              <img id='img12' src="img/stopCL.png" alt="stop" />
              <img id='img22' src="img/newStop.png" alt="stop" />
            </a>
      </div>

          <div class="vinyl-area2">

            <div class="vinyl2" ng-click="DjScratching.play()">
              <div class="disk2">
                  <div class="Vimg2">

                    <img src="img/music-song-cd-disc-sound-note2.png" alt="" />

                  </div>
              </div>
              <div class="arm2">


              <div class="arm-play2">
                  <div class="arm_circle2">
                  </div>
                  <div class="arm_main2">
                    <div class="arm_stop2" >
                    </div>
                  </div>

              </div>

            </div>
            </div>


        </div>
          <div id="waveform2"></div>
          <div id="waveform-timeline2"></div>
          <div class="right-speed-slider-div">


          <div id="right-speed-slider">

          </div>
          <button class='reset-button' type="button" ng-click='resetSlider2()'>R</button>
          </div>

        <div id="equalizer2" style="margin-top: 10px"></div>
      </div>
    </div>
<button type="button" name="button" onclick='stopJQ()' ng-click='test()'>test</button>
  </div>
