

<div class="wrapper2">
  <div class="viewNav">
      <img class='samDJ' src="img/samDJ.png" alt="samDJ" />
      <a ui-sref="home"><img  class='cancel' src="../img/cancel.png" alt="cancel" /></a>
  </div>
<div class="songRepeat">


<ol>
  <i ng-repeat='song in mySongs'>
    <div class="theSongTitleDiv">
      <h4 class="theSongTitle">{{song.songName}}</h4>
    </div>
      <div class="loadButtonsDiv">
        <button class='loadOnLeft fa fa-play' type="button" name="button" onclick='stopJQ()' ng-click='wavesurfer.load(song.songUrl)'></button>
        <button class='loadOnRight fa fa-play' type="button " name="button" onclick='stop2JQ()' ng-click='wavesurfer2.load(song.songUrl)'></button>
      </div>

      <img class='songLine' src="../img/songLine.png" alt="" />
  </i>
</ol>
</div>


</div>
