

<div class="wrapper2">
  <div class="viewNav">
      <img class='samDJ' src="img/samDJ.png" alt="samDJ" />
      <a ui-sref="home"><img  class='cancel' src="../img/cancel.png" alt="cancel" /></a>
  </div>
<div class="songRepeat">


<ul>
  <i ng-repeat='song in mySongs'>

    <h4>{{song.songName}}</h4>
    <button type="button" name="button" onclick='stopJQ()' ng-click='wavesurfer.load(song.songUrl)'>left</button>
    <button type="button" name="button" onclick='stop2JQ()' ng-click='wavesurfer2.load(song.songUrl)'>right</button>

  </i>
</ul>
</div>


</div>
